meta_datasets/
__pycache__
assets
cache
tmp
.ropeproject
train_loop.png
scripts/tmp_data/train.txt
scripts/tmp_data/valid.txt
scripts/tmp_data/test.txt
wavenet_models/
snippets/tmp
sbatch_logs/
*last.ckpt
*.pth
taming_transformers.egg-info/
logs
!melgan/logs
*vggishish16.pt
data/ffhq
data/celebahq
melgan/logs/*e*
data/backup_links
data/backup_demo
